.btn {
  height: 2.5em;
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.75em;
  border: none;
  background-color: unset;
  color: var(--primary-color);
  fill: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5em;
  white-space: nowrap;
}

/* Small button */
.btn--small {
  text-align: center;
  height: 2em;
  padding: 0 0.5em;
  gap: 0.25em;
}

/* Button colors */
.btn--col-success {
  --primary-color: #66bb6a;
}
.btn--col-error {
  --primary-color: #f44336;
}
.btn--col-info {
  --primary-color: #29b6f6;
}

/* Button variants */
.btn--var-contained {
  background-color: var(--primary-color);
  color: var(--text-color-contrary);
}
.btn--var-outlined {
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
}
.btn--var-icon {
  padding: 0;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

/* Button icon */
.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

/* Button interactions */
.btn:focus {
  backdrop-filter: sepia(0.5);
}
.btn:hover {
  filter: sepia(0.2);
  transform: scale(1.05);
  backdrop-filter: sepia(0.5);
}
.btn:disabled {
  backdrop-filter: sepia(0.2);
  filter: sepia(0.5) blur(0.8px);
  cursor: unset;
  border: none;
  transform: none;
  box-shadow: none;
}
